<header class="nav-bar-body">
    <nav>
        <div class="title">
            Augusto Tomás Ibarrola-Crespin
        </div>
        <div class="nav-links">
            <table>
                <tbody>
                    <tr>
                        <td><a href="#home" class="">Home</a></td>
                        <td><a href="#skills" class="">Skills</a></td>
                        <td><a href="#contact" class="">Contact</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
</nav>
</header>

